<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.AdminDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	
	<!-- 관리자 설정 -->
	<select id="pw" parameterType="string" resultType="AdminVO">
		select 
			*
		from 
			ADMIN
		where 
			adminpw = #{adminpw}
	</select>
	
	<!-- 메뉴 저장 -->
	<insert id="insert" parameterType="MenuVO">
	insert into MENU (foodnum, foodname, foodtype, foodprice, foodsoldout, foodlev, image)
		values (#{foodnum},
		 		#{foodname}, 
                #{foodtype},
                #{foodprice}, 
                #{foodsoldout},
                #{foodlev},
                #{image})
	</insert>
	
	<!-- 메뉴 수정 -->
	<update id="update" parameterType="MenuVO">
	update MENU set foodname=#{foodname}, foodtype=#{foodtype}, foodprice=#{foodprice}, 
					foodsoldout=#{foodsoldout}, foodlev=#{foodlev}, image=#{image}
			where foodnum=#{foodnum}
	</update>
	
	<!-- 메뉴 삭제 -->
	<delete id="delete" parameterType="string">
	delete from MENU where foodnum= #{foodnum}
	</delete>
	
</mapper>