<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.DrinkSizeDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	
	<!-- 아이스 / 사이즈 업(가격) -->
	<select id="sizeup" parameterType="string" resultType="DrinkSizeVO">
		select * 
		from drinksize
		where drinksizetype = #{drinksizetype}
	</select>
	
	
</mapper>