<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.MenuDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	
	<!-- 메뉴 -->
	<select id="menulist" resultType="MenuVO">
		select
			*
		from 
			MENU
	</select>
	
	<!-- 메뉴 유무(존재파악) -->
	<select id="menusearch1" parameterType="MenuVO" resultType="kr.hizju.cafekiosk.vo.MenuVO">
	select foodnum 
	from MENU 
	where foodname = #{foodname}
	</select>	
	
	<!-- 메뉴 검색 -->
	<select id="searchmenu" parameterType="string" resultType="MenuVO">
	select * from MENU where foodname = #{foodname}
	</select>
	
	<!-- 메뉴 저장 -->
	<insert id="insert" parameterType="hashmap">
	insert into MENU (foodnum, foodname, foodtype, foodprice, foodsoldout)
		values (#{foodnum, jdbcType=VARCHAR},
		 		#{foodname, jdbcType=VARCHAR}, 
                #{foodtype, jdbcType=VARCHAR},
                #{foodprice, jdbcType=VARCHAR}, 
                #{foodsoldout, jdbcType=VARCHAR})
	</insert>
	
	<!-- 메뉴 수정 -->
	<update id="update" parameterType="hashmap">
	update MENU set foodname, foodtype, foodprice, foodsoldout
		values(#{foodname, jdbcType=VARCHAR}, 
               #{foodtype, jdbcType=VARCHAR},
               #{foodprice, jdbcType=VARCHAR}, 
               #{foodsoldout, jdbcType=VARCHAR})
			where foodnum=#{foodnum, jdbcType=VARCHAR}
	</update>
	
	<!-- 메뉴 삭제 -->
	<delete id="delete" parameterType="hashmap">
	delete from MENU where foodnum= #{foodnum, jdbcType=VARCHAR}
	</delete>
	
	
	</mapper>
