<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.MenuDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	
	<!-- 메뉴리스트(메뉴 전체보기) -->
	<select id="menulist" resultType="MenuVO">
	       select *
	       from menu
	</select>
	
	<!-- 음료 사이즈 확인하기 -->
	<select id="drinksizevo" parameterType="string" resultType="DrinkSizeVO">
	    select m.foodnum, m.foodprice, d.drinksizetype, d.plusprice
			from menu m, drinksize d
			where m.foodnum = #{foodnum} and d.foodnum=#{foodnum}
			 
	</select>
	
	<!-- 메뉴 카테고리 -->
	<select id="menucategory" parameterType="string" resultType="MenuVO">
		SELECT *
			FROM menu
			 WHERE foodtype = #{foodtype}
			 
	</select>

	</mapper>
