<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.OrdercodeDAO">

	<!-- 기본화면 -->
	<select resultType="string" id="today">
	select sysdate from ordercode 
	</select>
	
	<!-- 주문화면 -->
	<select id="ordercodepage" parameterType="string" resultType="OrderCodeVO">
		select * from ordercode
		where orderwhere = #{orderwhere}
	</select>
	
	<!-- 주문내역 -->
	<select id="orderpage" resultType="OrderNumVO">
	select *
	from ordernum
	</select>
	
	<!-- 주문정보 -->
	<insert id="orderinfo" parameterType="OrderCodeVO">
	insert into ordercode (orderid, orderwhere, orderdate, coupon)
		values (#{orderid},
		 		#{orderwhere}, 
                #{orderdate},
                #{coupon})
	</insert>
	
	<!-- 주문 상세정보 -->
	<insert id="orderdetail" parameterType="OrderNumVO">
	insert into ordernum (idx, foodstock, ordercount, ordernum, foodnum)
		values (#{idx},
		 		#{foodstock}, 
                #{ordercount},
                #{ordernum},
                #{foodnum})
	</insert>

	
</mapper>