<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hizju.cafekiosk.dao.OrdercodeDAO">
	<!-- 현재날짜 -->
	<select id="today" resultType="string">
		select sysdate from ordercode
	</select>
	
	<!-- 주문화면 -->
	<select id="ordercodepage" resultType="OrderCodeVO">
		select 
		#{ORDERNUM, jdbcType=VARCHAR } as ordernum, 
		#{ORDERWHERE, jdbcType=VARCHAR } as orderwhere, 
		#{ORDERIN, jdbcType=VARCHAR } as orderin,
		sysdate as today,
		#{COUPON, jdbcType=VARCHAR } as coupon
		from ORDERCODE
	</select>
	
</mapper>