<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.cafekiosk.dao.OrdernumDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->

    <!-- 영수증 -->
	<select id="ordernum" parameterType="Ordernum" resultType="kr.hizju.cafekiosk.vo.OrdernumVO">
		select 
		IDX AS idx,
		FOODSTOCK AS foodstock,
		ORDERCOUNT AS ordercount,
		ORDERCODE.ORDERNUM AS ordernum,
		MENU.FOODNUM AS foodname,
		MENU.FOODPRICE AS foodprice
		from ORDERNUM, MENU
		WHERE ORDERNUM MENU = MENU.MENU
	</select>
	
	
	
</mapper>